In [1]:
for row in range(5):
    for col in range(1,row+1):
        print("*",end=" ")
    else:
        print(" ",end=" ")
    print()

*
* *
* * *
* * * *

In [2]:
for row in range(6):
    for col in range(row-1,5):
        print("*",end=" ")
    else:
        print(" ",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
p='Manikanta'
leng=len(p)
for i in range(leng):
    for j in range(i+1):
        print(p[j],end=" ")
    print()

M
M a
M a n
M a n i
M a n i k
M a n i k a
M a n i k a n
M a n i k a n t
M a n i k a n t a

In [5]:
li=[1,2,3,4,5,6,7,8,9]
length=len(li)
for i in range(length):
    for j in range(i+1):
        print(li[j],end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [6]:
for row in range(5):
    for col in range(5):
        if row==4 or col==0 or (row==1 and col==1) or (row==2 and col==2) or (row==3 and col==3):
            print('*',end=" ")
        else:
            print(" ",end="")
    print()

*
* *
*  *
*   *
* * * * *

In [7]:
for row in range(4):
    for col in range(4):
        if row==0 and col==1 or(row==0 and col==2) or (row==2 and col==1) or (row==2 and col==2) or (row==1 and col==0) or (row==1 and col==3): #or (row==1 and col==1) or (row==1 and col==3) or (row==2 and col==0) or (row==2 and col==3):
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print()

  * *
*     *
  * *

In [8]:
for row in range(4):
    for col in range(7):
        if row==0 and col==3 or (row==1 and col==2) or (row==1 and col==4) or(row==2 and col==1) or (row==2 and col==5)or (row==3 and col==0)or (row==3 and col==1)or(row==3 and col==2)or(row==3 and col==3)or(row==3 and col==4)or(row==3 and col==5)or(row==3 and col==6):
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    *   *
  *       *
* * * * * * *

In [9]:
for row in range(4):
    for col in range(4):
        if row==0 and col==1 or (row==0 and col==2) or (row==1 and col==0) or (row==1 and col==3) or (row==2 and col==0) or (row==2 and col==3) or (row==3 and col==1) or (row==3 and col==2):
        
            print("*", end="  ")
        else:
            print(" ",end=" ")
    print()

  *  *
*      *
*      *
  *  *

In [10]:
for row in range(4):
    for col in range(5):
        if row==0 and col==0 or (row==0 and col==1) or (row==0 and col==2) or (row==0 and col==3) or (row==1 and col==0) or (row==1 and col==4) or (row==2 and col==0) or (row==2 and col==4) or (row==3 and col==0) or (row==3 and col==1) or (row==3 and col==2) or (row==3 and col==3) or (row==3 and col==3):
        
            print("*", end="  ")
        else:
            print(" ",end=" ")
    print()

*  *  *  *
*        *
*        *
*  *  *  *

In [11]:
for row in range(4):
    for col in range(3):
        if row==4 or col==0 or (row==3 and col==1) or (row==3 and col==2)or (row==3 and col==3)or(row==1 and col==1)or(row==2 and col==2): 
            print("*", end="  ")
        else:
            print(" ",end=" ")
    print()

*
*  *
*    *
*  *  *

In [12]:
for row in range(3):
    for col in range(3):
        if row==0 or col==3 or (row==1 and col==2)or(row==2 and col==2)or (row==1 and col==1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * *
  * *
    *

In [13]:
for row in range(5):
    for col in range(4):
        if row==0 or col==4 or (row==1 and col==3)or(row==2 and col==3)or(row==3 and col==3) or(row==4 and col==3)or(row==3 and col==2)or(row==2 and col==1)or(row==1 and col==0 ):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*     *
  *   *
    * *
      *

In [14]:
for row in range(6):
    for col in range(6):
        if row==5 or col==5 or (row==4 and col==0)or(row==3 and col==0)or(row==2 and col==0)or (row==1 and col==0)or (row==0 and col==0)or(row==4 and col==1)or(row==4 and col==4):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*         *
*         *
*         *
*         *
* *     * *
* * * * * *

In [15]:
for row in range(6):
    for col in range(5):
        if row==0 and col==2 or (row==1 and col==1) or (row==1 and col==3) or (row==2 and col==0)or (row==2 and col==4)or(row==3 and col==1)or(row==3 and col==3)or(row==4 and col==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  *   *
*       *
  *   *
    *

In [16]:
for row in range(6):
    for col in range(5):
        if row==0 and col==2 or (row==1 and col==1) or (row==2 and col==1) or (row==3 and  col==2)or(row==1 and col==2) or (row==2and col==2) or(row==2 and col==3) or (row==1 and col==3) or (row==2 and col==0)or (row==2 and col==4)or(row==3 and col==1)or(row==3 and col==3)or(row==4 and col==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * * *
* * * * *
  * * *
    *

In [17]:
for row in range(4):
    for col in range(7):
        if row==0 and col==3 or (row==1 and col==2)or(row==1 and col==3)or(row==2 and col==2)or(row==2 and col==3)or(row==2 and col==4) or (row==1 and col==4) or(row==2 and col==1) or (row==2 and col==5)or (row==3 and col==0)or (row==3 and col==1)or(row==3 and col==2)or(row==3 and col==3)or(row==3 and col==4)or(row==3 and col==5)or(row==3 and col==6):
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *